<title>SELECT</title>

<div id="form1">
    <table>
        <tr>
            <td>Action</td>
            <td>Id</td>
            <td>Name</td>
            <td>Age</td>
        </tr>
   
        {{#data}} {{!-- Esse data é da query select linha 55 do app.js --}}
   
        <tr>
            <td>
                <a href="update/{{id}}"><img src="/IMG/edit.png" alt="" width="20px"></a>
                <a href="delete/{{id}}" class="delete"><img src="/IMG/trash.png" alt="" width="20px"></a>
            </td>
            

            <td>{{id}} <hr></td> 
            <td>{{name}} <hr></td>
            <td>{{age}} <hr></td>

    
           
        </tr> 
        

     
    
        {{/data}} {{!-- Esse data é da query select linha 55 do app.js --}}
    </table>
  

</div>

