<head>
  <link rel="stylesheet" href="/CSS/styles.css" />

  <title>Selecão de Notas</title>

  <style>
    .navbar {
      position: fixed;
    }

    #dados {
      padding-top: 55px;
      width: 7000px;


    }

    td {

      font-size: 17px;
    }



    thead {
      background-color: #F5DEB3;

    }
  </style>
</head>

<table id="dados">
  <thead>
    <tr>
      <td>Ações</td>
      <td>Nº da Nota</td>
      <td>Ilmo Senhor</td>
      <td>Endereço:</td>
      <td>Telefone para Contato</td>
      <td>Nome da Vendendora</td>
      {{!-- ------------------ --}}

      <td>Quantidade (1º)</td>
      <td>Quantidade (2º)</td>
      <td>Quantidade (3º)</td>
      <td>Quantidade (4º)</td>
      <td>Quantidade (5º)</td>
      <td>Quantidade (6º)</td>
      <td>Quantidade (7º)</td>
      <td>Quantidade (8º)</td>

      {{!-- ------------------ --}}

      <td>Descrição 1</td>
      <td>Descrição 2</td>
      <td>Descrição 3</td>
      <td>Descrição 4</td>
      <td>Descrição 5</td>
      <td>Descrição 6</td>
      <td>Descrição 7</td>
      <td>Descrição 8</td>

      {{!-- ------------------ --}}

      <td>precoUni 1</td>
      <td>precoUni 2</td>
      <td>precoUni 3</td>
      <td>precoUni 4</td>
      <td>precoUni 5</td>
      <td>precoUni 6</td>
      <td>precoUni 7</td>
      <td>precoUni 8</td>

      {{!-- ------------------ --}}

      <td>frete 1</td>
      <td>frete 2</td>
      <td>frete 3</td>
      <td>frete 4</td>
      <td>frete 5</td>
      <td>frete 6</td>
      <td>frete 7</td>
      <td>frete 8</td>

      {{!-- ------------------ --}}

      <td>Valor Final 1</td>
      <td>Valor Final 2</td>
      <td>Valor Final 3</td>
      <td>Valor Final 4</td>
      <td>Valor Final 5</td>
      <td>Valor Final 6</td>
      <td>Valor Final 7</td>
      <td>Valor Final 8</td>

      {{!-- ------------------ --}}

      <td>Total da Nota</td>
    </tr>
  </thead>
  {{#data}}
  <tbody>
    <tr>
      <td>
        {{!-- <b style="margin-left: -45px; margin-right: 0px">Imprimir:</b> --}}
        <a href="/Print/{{id}}" class="Print"><i class="fa fa-print fa-2x" aria-hidden="true"
            style="color: black;"></i></a>
        {{!-- <b style="margin-left: 5px; margin-right: 5px ">Editar:</b> --}}
        <a href="/Update/{{id}}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"
            style="color: black;"></i></a>
        <br>
        {{!-- <b style="margin-left: -10px; margin-right: 25px ">Excluir:</b> --}}
        <a href="/Delete/{{id}}" class="Delete"><i class="fa fa-trash fa-2x" aria-hidden="true"
            style="color: black;"></i></a>

      </td>
      <td>{{id}}</td>
      <td>{{nome_cliente}}</td>
      <td>{{endereco}}</td>
      <td>{{telefone}}</td>
      <td>{{nome_vendedora}}</td>

      {{!-- ------------------ --}}

      <td>{{quant1}}</td>
      <td class="quant2">{{quant2}}</td>
      <td class="quant3">{{quant3}}</td>
      <td class="quant4">{{quant4}}</td>
      <td class="quant5">{{quant5}}</td>
      <td class="quant6">{{quant6}}</td>
      <td class="quant7">{{quant7}}</td>
      <td class="quant8">{{quant8}}</td>

      {{!-- ------------------ --}}

      <td>{{descricao1}}</td>
      <td>{{descricao2}}</td>
      <td>{{descricao3}}</td>
      <td>{{descricao4}}</td>
      <td>{{descricao5}}</td>
      <td>{{descricao6}}</td>
      <td>{{descricao7}}</td>
      <td>{{descricao8}}</td>

      {{!-- ------------------ --}}

      <td id="valor" class="valors">R$ {{precoUni1}},00</td>
      <td class="precoUni2">R$ {{precoUni2}},00</td>
      <td class="precoUni3">R$ {{precoUni3}},00</td>
      <td class="precoUni4">R$ {{precoUni4}},00</td>
      <td class="precoUni5">R$ {{precoUni5}},00</td>
      <td class="precoUni6">R$ {{precoUni6}},00</td>
      <td class="precoUni7">R$ {{precoUni7}},00</td>
      <td class="precoUni8">R$ {{precoUni8}},00</td>

      {{!-- ------------------ --}}

      <td class="frete1">R$ {{frete1}},00</td>
      <td class="frete2">R$ {{frete2}},00</td>
      <td class="frete3">R$ {{frete3}},00</td>
      <td class="frete4">R$ {{frete4}},00</td>
      <td class="frete5">R$ {{frete5}},00</td>
      <td class="frete6">R$ {{frete6}},00</td>
      <td class="frete7">R$ {{frete7}},00</td>
      <td class="frete8">R$ {{frete8}},00</td>

      {{!-- ------------------ --}}

      <td class="valor_final1">R$ {{valor_final1}},00</td>
      <td class="valor_final2">R$ {{valor_final2}},00</td>
      <td class="valor_final3">R$ {{valor_final3}},00</td>
      <td class="valor_final4">R$ {{valor_final4}},00</td>
      <td class="valor_final5">R$ {{valor_final5}},00</td>
      <td class="valor_final6">R$ {{valor_final6}},00</td>
      <td class="valor_final7">R$ {{valor_final7}},00</td>
      <td class="valor_final8">R$ {{valor_final8}},00</td>

      {{!-- ------------------ --}}

      <td>R$ {{valor_nota}},00</td>
    </tr>
  </tbody>
  {{/data}}
</table>

{{!-- <b id="filterKeyword"></b> --}}



<script src="/JS/DeleteEdit.js"></script>
<script src="/JS/DesapareceNumeros0.js"></script>

<script src="/JS/Search.js"></script>